<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Flight no</th>
      <td>{{deliveryService?.deliveryInfo.flightNo}}</td>
    </tr>
    <tr>
      <th scope="row">Gate of arrival:</th>
      <td>{{deliveryService?.deliveryInfo.gateOfArrival}}</td>
    </tr>
    <tr>
      <th scope="row">Date of arrival</th>
      <td>{{deliveryService?.deliveryInfo.dateOfArrival | date: 'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <th scope="row">Cost</th>
      <td>{{deliveryService?.price}}</td>
    </tr>
  </tbody>
</table>
